################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FarmSystem.Test1/obj/Debug
/.vs/Emydex.FarmSystem.Test/v15/Server/sqlite3
/.vs/Emydex.FarmSystem.Test/v17/.suo
/.vs/ETL-Repo/v17/.suo
/.vs/ETL-Repo/project-colors.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/FarmSystem.Test1/bin/Debug/FarmSystem.Test1.exe
/FarmSystem.Test1/bin/Debug/FarmSystem.Test1.exe.config
/FarmSystem.Test1/bin/Debug/FarmSystem.Test1.pdb
/FarmSystem.Test1/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
